/*CUSTOM FONT*/
@font-face {
    font-family: "viga";
    src: url("assets/Viga/Viga-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "lato";
    src: url("assets/lato/Lato-Bold.ttf") format("truetype");
}

body {
    background-image: url("Images/bg.png");
    background-color: #F5F5F5;
}

/* NAVBAR */
.navbar {
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar .navbar-brand {
    color: #009146;
    font-family: viga;
    font-size: 25px;
}
.navbar .navbar-toggler {
    border: 1px solid #009146;
}
.navbar .navbar-toggler span i {
    color: #009146;
    padding: 5px;
}
.navbar .nav-link {
    font-family: lato;
    color: #979CA3;
    margin: auto 15px;
}
.navbar .nav-link:hover {
    color: #333333;
}
/* END OF NAVBAR */

/* PROFILE */
.body-page .title {
    text-align: right;
}
.body-page .value {
    text-align: left;
}
.body-page .isi {
    margin-bottom: 3px;
}
/* END OF PROFILE */



/* DEKSTOP VERSION */
@media (min-width: 992px) { 
    /* NAVBAR */
    .navbar .nav-link:hover {
        color: #333333;
    }
    .navbar .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #009146;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    /* END OF NAVBAR */

    /* HEADER PAGE */
    .header-page {
        text-align: center;
        background-color: rgba(0, 202, 41, 0.6);
        background: rgba(0, 202, 41, 0.6);
        color: rgba(0, 202, 41, 0.6);
        border-radius: 20px 20px 0 0;
    }
    .header-page img{
        text-align: center;
        width: 200px; 
        padding-top: 70px;
        margin-bottom: -250px;
        align-items: center;
        margin-left: 150px;
    }
    .header-page .text {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .header-page h1 {
        color: #ffffff;
        margin-bottom: 1px;
    }
    .header-page p {
        color: #ffffff;
        margin-bottom: 4px;
    }
    .header-page a {
        color: #ffffff;
        margin: auto 10px;
        font-size: 20px;
        padding-bottom: 30px;
    }
    /* END OF HEADER PAGE */
    
    /* BODY PAGE */
    .body-page {
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 35px;
        margin-top: 0;
        background-color: rgba(233, 232, 232, .7);
        background: rgba(233, 232, 232, .7);
        color: rgba(0, 0, 0, 0.7);
        border-radius: 0 0 20px 20px;
    }
    .body-page .content {
        margin-top: 60px;
    }
    .body-page h3 span {
        color: #009146;
    }
    .body-page p {
        text-align: justify;
    }
    .body-page .title {
        margin-top: 50px;
    }
    .body-page .value {
        margin-top: 50px;
    }
    /* END OF BODY PAGE */
}